export LOCAL_IP=`ifconfig | grep addr:10 | awk '{ print $2 }' | sed 's/addr://'`
export INTERNET_IP=<internet-ip-of-this-gateway>
export DATABASE_IP=$LOCAL_IP
export DATABASE_USERNAME=geograph
export DATABASE_PASSWORD=<put-the-password-here>
